# Database
DATABASE_URL=""
AURORA_DATABASE_URL=""

# AWS
AWS_REGION=""
AWS_ACCOUNT_ID=""
SQS_QUEUE_URL=""
SQS_DLQ_URL=""
SQS_QUEUE_ARN=""
SQS_DLQ_ARN=""

# Environment
NODE_ENV="development"
STAGE="dev"

# Logging
LOG_LEVEL="info"

AURORA_SECURITY_GROUP_ID=
SUBNET_PRIVATE_1=
SUBNET_PRIVATE_2=